/* Container for menu items */
/*
.menu {
    position: relative;
    display: inline-block;
    margin-top: 15px;
}

.menu-item{
    display: None;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
}
*/

ol.afs-menu {
    position: relative;
    margin-top: 15px;
}

a.afs-menu {
    font-size: large;
	background-color: #ffffff;
}
